<h1>New Post</h1>
<div class='row'>
  <div class='col-md-4'>
    <p>Guidelines for posts</p>
    <ul>
      <li>First</li>
      <li>Second</li>
      <li>Third</li>
    </ul>
  </div>

	<div class='col-md-4'>
	  <%= form_for @post do |f| %>
		  <div class='form-group'>
		    <%= f.label :title %>
		    <%= f.text_field :title, class: 'form-control', placeholder: 'Enter a title' %>
		  </div>

		  <div class='form-group'>
		    <%= f.label :body %>
		    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter a description" %>
		  </div>

		  <div class='form-group'>
		    <%= f.submit 'Save', class: 'btn btn-success' %>
		  </div>
	  <% end %>
  </div>
</div>
